.modalReviewsForm {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 60px 45px 60px;

  min-width: 1033px;
  background-color: white;
  border-radius: 15px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 574px;
}

.reviewForm__text {
  margin-bottom: 40px;
  text-align: center;
}

.reviewForm__wrapImg {
  position: absolute;
  top: 89px;
  right: 0;
}

.reviewForm__textContent {
  width: 479px;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
}

.form__field--textarea {
  position: relative;
}

textarea {
  box-sizing: border-box;
  padding: 18px 16px;

  resize: none;
  width: 420px;
  min-height: 100px;

  outline: transparent;
  border: 1px solid #dddee4;
  border-radius: 5px;
}

.form__field:focus-within textarea {
  outline: 1px solid #e97522;
}

.form__field textarea::placeholder {
  color: #dddee4;
}

.review__icon {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
