a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

button {
  cursor: pointer;
}

