.giftCertificate__section {
  padding-bottom: 60px;
  padding-top: 50px;
}

.giftCertificate {
  margin-bottom: 80px;
}

.giftCertificate__wrapper {
  position: relative;
  // display: flex;
  // padding: 112px 180px 37px 120px;
}

.giftCertificate__wrapperContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-bottom: 113px;

  // min-width: 567px;
}

.giftCertificate__text {
  margin-bottom: 8px;

  color: var(--certificate-color);
  font-weight: 500;
  font-size: 12px;
  // font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.giftCertificate__title {
  margin-bottom: 32px;
  // margin-bottom: 52px;

  color: var(--secondary-color);
  width: 240px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  // font-size: 48px;
  line-height: 1.4;
}

.giftCertificate__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 9px;
}

.giftCertificate__itemText {
  display: block;
  // display: inline-flex;
  color: var(--primary-text-color);
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  // font-size: 16px;
  line-height: 1.4;

  &::before {
    // потом убрать
    display: block;
    // потом убрать
    content: "";

    margin: 0 auto;
    margin-bottom: 8px;
    // margin-right: 16px;

    width: 24px;
    height: 24px;
    background-image: url(../images/gift-certificate/check-mark.svg);
  }
}

.giftCertificate__wrapperImg {
  width: 267px;
  height: 267px;
  margin: 0 auto;

  // position: absolute;
  // right: 86px;
  // top: -7px;
}

.giftCertificate__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.giftCertificate__validityText {
  margin-bottom: 16px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  // font-size: 16px;
  line-height: 1.4;
  width: 326px;
  // width: 380px;
  text-align: center;
}

.giftCertificate__wrapperBtn {
  display: flex;
  justify-content: center;

  // margin-top: 24px;
  min-width: 342px;
}

.giftCertificate__button {
  padding: 14px 97px;

  font-weight: 600;
  font-size: 16px;
  width: 342px;
}
