.ideasForPhoto__section {
  padding-top: 50px;
  padding-bottom: 36px;
}

.ideasForPhoto__title {
  margin-bottom: 24px;

  // margin-bottom: 32px;
}

.ideasForPhoto__text {
  margin-bottom: 16px;
  // margin-bottom: 2px;

  text-align: center;
  overflow: hidden;
  height: 500px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  // height: 260px;
  // text-align: left;
  // text-align: start;
}

.ideasForPhoto__button {
  display: block;
  padding: 0;
  margin: 0 auto;

  color: var(--accent-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  // font-size: 16px;
  // line-height: 1.5;
  font-weight: 600;
  min-height: 24px;
  border-color: transparent;
  margin-left: auto;

  &::after {
    content: "";
    display: inline-block;
    margin-left: 16px;

    width: 21px;
    height: 10px;
    background-image: url(../images/check-mark.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
