.ourLocations__title {
  margin-bottom: 80px;
}

.ourLocations__list {
  display: flex;
  margin-bottom: 60px;
  gap: 27px;
  justify-content: center;
}

.locacions__wrapperBtn {
  min-width: 336px;
}

.locacions__button {
  padding: 14px 54px;
  margin: 0 auto;
  display: block;

  font-weight: 600;
  font-size: 16px;
}
