.reviews__title {
  margin-bottom: 80px;
}

.reviews__list {
  display: flex;
  margin-bottom: 32px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 340px;
}

.reviews__wrapperImg {
  margin-bottom: 32px;
}

.reviews__name {
  margin-bottom: 14px;

  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  // font-size: 24px;
  // line-height: 1;
  text-align: center;
}

.reviews__text {
  margin-bottom: 8px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  // font-size: 16px;
  // line-height: 1.6;
  text-align: center;
}

.reviews__btnShowMore {
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 00;
  font-size: 14px;
  line-height: 1.7;
  border: transparent;
}

.reviews__wrapperBtn {
  min-width: 342px;
}

.reviews__button {
  padding: 19.5px 68.5px;
  // padding: 14px 69px;
  margin: 0 auto;
  display: block;

  font-weight: 600;
  font-size: 14px;
  // font-size: 16px;
}
